<p id="notice"><%= notice %></p>

<h1><%= Comment.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('views.common.author') %></th>
      <th><%= t('views.common.time') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <% if User.find(comment.user_id).name.present? %>
        <% author = User.find(comment.user_id).name %>
      <% else %>
        <% author = User.find(comment.user_id).email %>
      <% end %>
      <tr>
        <td><%= author %></td>
        <td><%= l comment.updated_at, format: :long %></td>
        <td><%= link_to t('views.common.show'), report_comment_path(@report, comment.id) %></td>
        <td><%= link_to t('views.common.edit'), edit_report_comment_path(@report, comment.id) %></td>
        <td><%= link_to t('views.common.destroy'), report_comment_path(@report, comment.id), method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.common.new_comment'), new_report_comment_path %>
<%= link_to t('views.common.back'), reports_path %>
