<p id="notice"><%= notice %></p>
<h1><%= @report.title %></h1>

<p>
  <strong><%= t('views.common.author') %> :</strong>
    <% if User.find(@comment.user_id).name.present? %>
      <% author = User.find(@comment.user_id).name %>
    <% else %>
      <% author = User.find(@comment.user_id).email %>
    <% end %>
    <%= author %>
</p>

<p>
  <strong><%= t('views.common.body') %> :</strong>
  <%= @comment.body %>
</p>

<%= link_to t('views.common.edit'), edit_report_comment_path(@comment) %> |
<%= link_to t('views.common.back'), report_comments_path %>
